<h1>Forgot Password</h1>
<hr />
<div class="row">
    <form asp-action="ForgotPassword">
        <div class="col-md-4">
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="text" id="email" name="email" required class="form-control" />
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary mt-2" />
                </div>
                <span class="text-danger">@TempData["UserNotExistsError"]</span>
            </div>
        </div>
    </form>
</div>