@using System.Data
@model DataTable
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                @foreach(DataColumn column in Model.Columns) {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(DataRow row in Model.Rows) {
                <tr>
                    @foreach(DataColumn column in Model.Columns) {
                        <td>@row[column.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
